@import "tailwindcss";

@theme {
  --color-background: #3d3d3d;
  --color-surface: #1818185b;
  --color-text: #ffffff;
  --color-muted: #a3a3a3;
  --color-primary: #f97316;
  --color-primary-hover: #ea580c;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: Arial, Helvetica, sans-serif;
}